<a href="https://colab.research.google.com/github/Jaiharish-passion07/Recommender_system/blob/master/Collborative_Fiter_recommender/Collaborative_Filtering_Dummy_Dataset(practice-1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity
ratings=pd.read_csv("/content/toy_dataset.csv",index_col=0)

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
ratings.fillna(0, inplace=True)
ratings

        action1  action2  action3  romantic1  romantic2  romantic3
user 1      4.0      5.0      3.0        0.0        2.0        1.0
user 2      5.0      3.0      3.0        2.0        2.0        0.0
user 3      1.0      0.0      0.0        4.0        5.0        4.0
user 4      0.0      2.0      1.0        4.0        0.0        3.0
user 5      1.0      0.0      2.0        3.0        3.0        4.0

Using Cosine Similarity

In [30]:
def standardize(row):
    new_row = (row - row.mean())/(row.max()-row.min())
    return new_row

df_std = ratings.apply(standardize).T
print(df_std)

sparse_df = sparse.csr_matrix(df_std.values)
corrMatrix = pd.DataFrame(cosine_similarity(sparse_df),index=ratings.columns,columns=ratings.columns)
corrMatrix

           user 1  user 2  user 3    user 4    user 5
action1      0.36    0.56   -0.24 -0.440000 -0.240000
action2      0.60    0.20   -0.40  0.000000 -0.400000
action3      0.40    0.40   -0.60 -0.266667  0.066667
romantic1   -0.65   -0.15    0.35  0.350000  0.100000
romantic2   -0.08   -0.08    0.52 -0.480000  0.120000
romantic3   -0.35   -0.60    0.40  0.150000  0.400000

            action1   action2   action3  romantic1  romantic2  romantic3
action1    1.000000  0.706689  0.813682  -0.799411  -0.025392  -0.914106
action2    0.706689  1.000000  0.723102  -0.845154  -0.518999  -0.843374
action3    0.813682  0.723102  1.000000  -0.847946  -0.379980  -0.802181
romantic1 -0.799411 -0.845154 -0.847946   1.000000   0.148039   0.723747
romantic2 -0.025392 -0.518999 -0.379980   0.148039   1.000000   0.393939
romantic3 -0.914106 -0.843374 -0.802181   0.723747   0.393939   1.000000

Using Pearson Similarity

In [31]:
# corrMatrix = ratings.corr(method='pearson')
# corrMatrix.head(6)

In [33]:
def get_similar(movie_name,rating):
    similar_score = corrMatrix[movie_name]*(rating-2.5)
    similar_score = similar_score.sort_values(ascending=False)
    #print(type(similar_ratings))
    return similar_score

In [35]:
get_similar("romantic2",5)

romantic2    2.500000
romantic3    0.984848
romantic1    0.370098
action1     -0.063480
action3     -0.949951
action2     -1.297498
Name: romantic2, dtype: float64

In [39]:
action_lover = [("action1",5),("romantic2",5),("romantic3",5)]
similar_scores = pd.DataFrame()
for movie,rating in action_lover:
    similar_scores = similar_scores.append(get_similar(movie,rating),ignore_index = True)

similar_scores.head(10)

    action1   action3   action2  romantic2  romantic1  romantic3
0  2.500000  2.034204  1.766722  -0.063480  -1.998527  -2.285265
1 -0.063480 -0.949951 -1.297498   2.500000   0.370098   0.984848
2 -2.285265 -2.005452 -2.108435   0.984848   1.809367   2.500000

In [40]:
similar_scores.sum().sort_values(ascending=False)

romantic2    3.421369
romantic3    1.199583
romantic1    0.180938
action1      0.151255
action3     -0.921199
action2     -1.639211
dtype: float64